
.navbar-inverse
{
    background-color:#2b669a !important;
    border-color: #2b669a !important;
    height: 55px;
    font-size: 20px;
    font-weight: bold;


}
.loginLogo{
    height: 45px;

}
#clickLogout{
    left:1250%;
}
#LogoutLogo{
    margin-top: 12px;
    left:3733%;
    font-size: 30px;
    color: #ffffff;
}